{% include 'partials/header.twig' %}

<body class="bodyError h-100">
    <img class ="w-100 h-100 position-fixed" src="../src/{{code}}.png" alt="">
    <div class="fixed-bottom h-25 text-center">
        <a href="{{ path_for('home') }}" >Retour dans le droit chemin</a>
    </div>
</body>

{% include 'partials/footer.twig' %}