html
{
    font-family: 'Montserrat', sans-serif;
}



////////////////////////////////////////////////
// All Projeccts, Design, Motion, About pages //
////////////////////////////////////////////////



.body
{
    .container
    {
        margin-top: 24px;
        div
        {
            div
            {
                img 
                {
                    width: 60%;
                    height: 20%;;
                }
                a 
                {
                    img 
                    {
                        width: 250px;
                        height: 180px;
                    }
                    img:hover
                    {
                        opacity: 0.6;
                        transition: opacity 0.5s ease;
                    }
                }
            }
        }
    }
}



////////////////////////////////////////////////
////////////// All Project Pages ///////////////
////////////////////////////////////////////////



.bodyProjectPage
{
    font-family: 'Montserrat', sans-serif;
    div
    {
        width: 100%;
        div
        {
            width: 100%;
            div
            {
                width: 100%;
                a
                {
                    img
                    {
                        width: 100%;
                    }
                }
                .titleProjectPage 
                {
                    font-family: 'Montserrat', sans-serif;
                    font-weight: bold;
                    font-size: 1.5rem;
                    text-decoration: none;
                    color: black;
                    height: 80px;
                    display: flex;
                    align-items: center;
                }
                .yearRoleCategory
                {
                    display: flex;
                    justify-content: space-between;
                    width: 50%;
                    color: darkgray;
                }
                .descriptionProjectPage
                {
                    margin-top: 60px;
                    font-family: 'Source Serif Pro', serif;
                    margin-bottom: 100px;
                }
            }
        }
    }
}



////////////////////////////////////////////////
////////////////// Error Page //////////////////
////////////////////////////////////////////////



.bodyError
{
    img 
    {
        z-index: -30;
    }
    div
    {
        a 
        {
            z-index: 30;
        }
    }
}